
<body class="formback">
  <h1 class="loginpage">Selfless</h1>
    <div class="login-box">
      <h1>Please Log in</h1>
        <div>
            <%= form_for(:session, url: login_path) do |f| %>
            <%= f.email_field :email, placeholder: 'Email', required: true %><br>
            <%= f.password_field :password, placeholder: 'Password', required: true %><br><br>
            <%= f.submit 'Log in' %>
            <% end %>
        </div>
    </div>
</body>
