<h1>Runners#show</h1>

First Name: &nbsp&nbsp <%= @runner.first_name %> <br>
Last Name: &nbsp &nbsp <%= @runner.last_name %> <br>
Email: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <%= @runner.email %> <br>
Phone Number: &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp <%= @runner.phone %> <br>
