<body class="regback">
  <div class="profile-box">
    <h1 class="center">Runner</h1>
    <strong>First Name: &ensp; <%= @runner.first_name %> </strong><br>
    <strong>Last Name: &ensp; <%= @runner.last_name %> </strong><br>
    <strong>Email: &ensp;&ensp;&ensp; <%= @runner.email %> </strong><br>
    <strong>Phone: &ensp;&ensp;&ensp;&ensp; <%= @runner.phone %> </strong><br>
  </div>
</body>
