<body class="regback">
  <div class="profile-box">
    <h1><%= @user.full_name %>'s Profile</h1><br><br>
   <strong>First Name: &ensp; <%= @user.first_name %></strong> <br>
   <strong>Last Name: &emsp; <%= @user.last_name %> </strong><br>
   <strong>Email: &emsp; &emsp; &emsp; <%= @user.email %></strong> <br>
   <!-- Donations:
   Runs:
   Distributions: -->
  </div>
</body>
